<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | eCentric</title>
  <meta name="description" content="Centric Consulting Employee Application">
    <!-- Add to HTML Head -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-light">
  @Html.Partial("_Navigation")

  <main class="container">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; @DateTime.Now.Year Centric Consulting</p>
    </footer>
  </main>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>
