<header>
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#" aria-label="Home">eCentric</a>
    </nav>
</header>


<!--<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark text-white border-bottom border-dark" aria-label="Navigation">
    <div class="container-fluid">
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="@Url.Action("Index", "Home", new {area = ""})" class="navbar-brand">
                eCentric
            </a>

            <button class="navbar-toggler p-0 border-0" type="button" id="navbarCollapse" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarDefault">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Home", new { area = "" })" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Contact", "Home", new { area = "" })" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("CoreValues", "Home", new { area = "" })" class="nav-link">Core Values</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown1" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>

                        <ul class="dropdown-menu" aria-labelledby="dropdown1">
                            <li>
                                <a href="@Html.Action("Index", "Employees", new { area = "" })" class="dropdown-item">Employees</a>
                            </li>
                            <li>
                                <a href="@Html.Action("Index", "Kudos", new { area = "" })" class="dropdown-item">Kudos</a>
                            </li>
                            <li>
                                <a href="@Html.Action("Leaderboard", "Kudos", new { area = "" })" class="dropdown-item">Leaderboard</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-success" type="submit">Sign Up</button>
                </form>
            </div>
            @Html.Partial("_LoginPartial")
        </nav>
    </div>
</nav>



<button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
              <li>
                  @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link px-2 text-secondary" })
              </li>
              <li>
                  @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link px-2 text-white" })
              </li>
              <li>
                  @Html.ActionLink("Core Values", "CoreValues", "Home", new { area = "" }, new { @class = "nav-link px-2 text-white" })
              </li>
              <li class="dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown">
                      <li>@Html.ActionLink("Employees", "Index", "Employees", new { area = "" }, new { @class = "dropdown-item px-2" })</li>
                      <li>@Html.ActionLink("Kudos", "Index", "Kudos", new { area = "" }, new { @class = "dropdown-item px-2" })</li>
                      <li>@Html.ActionLink("Leaderboard", "Leaderboard", "Kudos", new { area = "" }, new { @class = "dropdown-item px-2" })</li>
                  </ul>
              </li>
          </ul>

          @Html.Partial("_LoginPartial")
    -->
