@model IEnumerable<mis4200team2.Models.Kudos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Receiver Name
        </th>
        <th>
            Sender Name
        </th>
        <th>
            Send Time
        </th>
        <th>
            Core Values
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiverEmployee.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SenderEmployee.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SendTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KudosID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KudosID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KudosID })
        </td>
    </tr>
}

</table>
