@model IEnumerable<mis4200team2.Models.Employee>
@using mis4200team2.Data;

@{
  ViewBag.Title = "Leaderboard";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="display-5">Kudos Leaderboard</h2>

<table class="table table-responsive table-bordered table-striped table-hover caption-top">
  <caption>
    @using (Html.BeginForm("Leaderboard", "Kudos", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
      <div class="form-floating form-group mb-2">
        <label for="search" class="sr-only form-label">Search by name</label>
        <div class="input-group">
          <input type="text" class="form-control" name="Search" id="search" placeholder="Search by First or Last Name..." aria-label="Search by name" aria-describedby="button-search" value="@ViewData["CurrentFilter"]" />
          <button class="btn btn-primary" type="submit" id="button-search">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
            </svg>  Search
          </button>
        </div>
      </div>
    }
    </caption>
  <thead class="table-dark">
    <tr>
      <th scope="col" class="text-center">
        @Html.ActionLink("First Name", "Leaderboard", new { sort = ViewData["FirstNameSort"] })
      </th>
      <th scope="col" class="text-center">
        @Html.ActionLink("Last Name", "Leaderboard", new { sort = ViewData["LastNameSort"] })
      </th>
      <th scope="col" class="text-center">
        @Html.ActionLink("# of Kudos Received", "Leaderboard", new { sort = ViewData["ReceiveSort"] })
      </th>
      <th scope="col" class="text-center"><strong># of Kudos Sent</strong></th>

    </tr>
  </thead>

  <tbody>
    @foreach (var item in Model)
    {

      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td class="text-center">
          @{
            DataContext db = new DataContext();
            int nReceived = db.KudosDB.Where(k => k.ReceiverID == item.EmployeeID).Count();
            @nReceived
          }
        </td>
        <td class="text-center">
          @{
            int nSent = db.KudosDB.Where(k => k.SenderID == item.EmployeeID).Count();
            @nSent
          }
        </td>
      </tr>
    }
  </tbody>

</table>

<div>@Html.ActionLink("Back to List", "Leaderboard")</div>